.sec_1{
	background-image: url("my_portfolio.jpg");
	padding: 20px;
	padding-bottom: 130px;
}
.ali_gn{
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px black;
}
#img_cs{
	box-shadow: 5px 5px 5px yellow;
	border-width: 2px;
	border-color: yellow;
	border-style: solid;
	margin-bottom: 20px;
}
@keyframes example {
  0%   {left:0px; top: 150px;}
  100%  {left:0px; top:0px;}
}
.sec_2{
	background-image: url("sec_2.jpg");
	padding: 20px;
	padding-bottom: 50px;
}
.sec_3{
	background-image: url("sec_3.jpg");
	padding: 20px;
	padding-bottom: 50px;
}
.sec_4{
	background-image: url("sec_4.jpg");
	padding: 20px;
	padding-bottom: 50px;
}
.sec_5{
	background-color: black;
	padding: 20px;
	padding-bottom: 50px;
}